@import "https://unpkg.com/latex.css@1.1.0/style.min.css";

body {
  max-width: 960px;
}

h1 {
  text-align: left !important;
}

img {
}

.mt-0 {
	margin-top: 0;
}

.ul--custom {
	padding: 0;
	margin: 0;
}

.media-item {
  margin-bottom: 2rem;
}

.media-item__container {
  display: flex;
}

.w-10 {
	width: 10%;
}

.w-90 {
	width: 90%;
}

.media-item__img-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
  margin-right: 1rem;
}

.media-item__title {
  margin: 0;
}
